.mainadminSetting{
	position:relative;
	padding-right:290px;
	.view{
		margin:0 0 17px;
		dt{
			text-align:left;
			padding-left:29px+15;
			.req{margin-left:-15px;}
		}
	}
	.left{

	}
	.right{
		position:fixed;
		// left:1324px;
		top:216px;
		position:absolute;
		right:0;
		top:0;
		width:256px;
		a{
			background-color:#f4f4f4;
			border:1px solid #bbbbbb;
			text-align:center;
			margin-bottom:8px;
			font-weight:bold;
			display:block;
		}
		>a{
			font-size:18px;
			line-height:75px;
			overflow:hidden;
			img{vertical-align:top;}
		}
		.set{
			overflow:hidden;
			margin-left:-8px;
			>a{
				font-size:14px;
				width:80px;
				height:77px;
				float:left;
				margin-left:8px;
				line-height:1.5;
				overflow:hidden;
				display:flex;
				align-items:center;
				text-align:center;
				span{
					width:100%;
				}
				img{vertical-align:top;}
			}
		}
		a.preview{
			background-color:#666666;
			border:1px solid #cdcdcd;
			color:#fff;
			font-weight:normal;
			height:53px;
			line-height:51px;
			font-size:22px;
		}
	}
}

.imguploadset{
	.fl{margin-right:15px;margin-bottom:10px;}
	img{max-height:150px;}
}