.ico-tel{
	display: inline-block;
	width: 21px;
	height: 24px;
	vertical-align: top;
	background: url('/static/kdhc/img/main/ico-tel.svg') center center no-repeat;
	background: url('/static/kdhc/img/main/ico-tel.png') center center no-repeat;
}
.ico-fax{
	display: inline-block;
	width: 21px;
	height: 24px;
	vertical-align: top;
	background: url('/static/kdhc/img/main/ico-fax.png') center center no-repeat;	
}
.ico-pw-change{
	display: inline-block;
	width: 27px;
	height: 18px;
	vertical-align: top;
	background: url('/static/kdhc/img/common/ico-pw-change.png') center center no-repeat;	
	vertical-align: middle;
}
.ico-reservation{
	background: url(/static/kdhc/img/common/ico-reservation.png) center center no-repeat;
	width: 20px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.ico-reservation-on{
	background: url(/static/kdhc/img/common/ico-reservation-on.png) center center no-repeat;
	width: 20px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.ico-detailview{
	background: url(/static/kdhc/img/common/ico-detailview.png) center center no-repeat;
	width: 17px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.ico-detailview-on{
	background: url(/static/kdhc/img/common/ico-detailview-on.png) center center no-repeat;
	width: 17px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.ico-pen{
	background: url(/static/kdhc/img/common/ico-pen.png) center center no-repeat;
	width: 22px;
	height: 21px;
	vertical-align: middle;
	display: inline-block;
}
.ico-200016{
	background: url(/static/kdhc/img/common/ico-200016.png) center center no-repeat;
	width: 30px;
	height: 49px;
	vertical-align: middle;
	display: inline-block;
}
.ico-realnameauth{
	background: url(/static/kdhc/img/common/ico-realnameauth.png) center center no-repeat;
	width: 27px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.ico-tel2{
	background: url(/static/kdhc/img/common/ico-tel2.png) center center no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
}
.ico-time{
	background: url(/static/kdhc/img/common/ico-time.png) center center no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
}
.ico-time2{
	background: url(/static/kdhc/img/common/ico-time2.png) center center no-repeat;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.ico-hand{
	background: url(/static/kdhc/img/common/ico-hand.png) center center no-repeat;
	width: 24px;
	height: 31px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}
.ico-medical-reservation{
	background: url(/static/kdhc/img/common/ico-medical-reservation.png) center center no-repeat;
	width: 20px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 9px;
}
.ico-fav{
	background: url(/static/kdhc/img/common/ico-fav-off.png) center center no-repeat;
	width: 20px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 9px;
}
.ico-fav-on{
	background: url(/static/kdhc/img/common/fav-on.png) center center no-repeat;
	width: 20px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 9px;
}
.ico-nav-go-1{
	background: url(/static/kdhc/img/common/ico-nav-go-1.png) center center no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 7px;
}
.ico-nav-go-2{
	background: url(/static/kdhc/img/common/ico-nav-go-2.png) center center no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 7px;
}
.ico-nav-go-3{
	background: url(/static/kdhc/img/common/ico-nav-go-3.png) center center no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 7px;
}
.ico-view{
	background: url(/static/kdhc/img/common/ico-view.png) center center no-repeat;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	display: inline-block;
}
.ico-200315{
	background: url(/static/kdhc/img/common/ico-200315.png) center center no-repeat;
	width: 39px;
	height: 34px;
	vertical-align: middle;
	display: inline-block;
}
.ico-write{
	background: url(/static/kdhc/img/common/ico-write.png) center center no-repeat;
	width: 24px;
	height: 19px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 9px;
}
.ico-200316{
	background: url(/static/kdhc/img/common/ico-200316.png) center center no-repeat;
	width:  51px;
	height: 51px;
	vertical-align: middle;
	display: inline-block;
}
.ico-photo{
	background: url(/static/kdhc/img/common/ico-photo.png) center center no-repeat;
	width:  20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
}
.ico-myphone {
	width: 18px;
	height: 25px;
	display: inline-block;
	margin-right: 11px;
	vertical-align: middle;
	background: url(/static/kdhc/img/common/ico-myphone.png) 0 0 no-repeat;
}
.ico-doc{
	width: 17px;
	height: 22px;
	display: inline-block;
	margin-right: 9px;
	vertical-align: middle;
	background: url(/static/kdhc/img/common/ico-doc.png) 0 0 no-repeat;
}
.ico-200422-hwp,
.ico-200422-pdf,
.ico-200422-ppt,
.ico-200422-doc{
	display: inline-block;
	width: 190px;
	height: 130px;
}
.ico-200422-hwp{background: url(/static/kdhc/img/common/200422-ico-hwp.png) 0 0 no-repeat;}
.ico-200422-pdf{background: url(/static/kdhc/img/common/200422-ico-pdf.png) 0 0 no-repeat;}
.ico-200422-ppt{background: url(/static/kdhc/img/common/200422-ico-ppt.png) 0 0 no-repeat;}
.ico-200422-doc{background: url(/static/kdhc/img/common/200422-ico-doc.png) 0 0 no-repeat;}

.ico-link{
	background: url(/static/kdhc/img/common/ico-link.png) center no-repeat;
	width: 22px;
	height: 35px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;	
}
.ico-link3{
	background: url(/static/kdhc/img/common/ico-link3.png) center no-repeat;
	width:  17px;
	height: 17px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 7px;	
}
.ico-line{
	background: url(/static/kdhc/img/common/ico-line.png) center no-repeat;
	width: 20px;
	height: 26px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
	&.type2{background: url(/static/kdhc/img/common/ico-line2.png) center no-repeat;}	
	&.type3{background: url(/static/kdhc/img/common/ico-line3.png) center no-repeat;}	
}
.ico-bus{
	background: url(/static/kdhc/img/common/ico-busblue.png) center no-repeat;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;	
	&.type2{background: url(/static/kdhc/img/common/ico-busgreen.png) center no-repeat;}	
	&.type3{background: url(/static/kdhc/img/common/ico-busred.png) center no-repeat;}	
}
.ico-sample{
	background: url(/static/kdhc/img/common/ico-sample.png) center no-repeat;
	width: 20px;
	height: 24px;
	vertical-align: text-top;
	display: inline-block;
	margin-right: 15px;
}
.ico-simple{
	background: url(/static/kdhc/img/common/ico-simple.png) center no-repeat;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}
.ico-online{
	background: url(/static/kdhc/img/common/ico-online.png) center no-repeat;
	width: 16px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.ico-waymap{
	background: url(/static/kdhc/img/common/ico-waymap.png) center no-repeat;
	width: 18px;
	height: 22px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}
.ico-insidemap{
	background: url(/static/kdhc/img/common/ico-insidemap.png) center no-repeat;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;	
}
.ico-telreservation{
	background: url(/static/kdhc/img/common/ico-telreservation.png) center no-repeat;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;	
}
.ico-onlinereservation{
	background: url(/static/kdhc/img/common/ico-onlinereservation.png) center no-repeat;
	width: 16px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;	
}
.ico-mapmarker{
	background: url(/static/kdhc/img/common/ico-mapmarker.png) center no-repeat;
	width: 18px;
	height: 22px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;	
}
.ico-link2{
	background: url(/static/kdhc/img/common/ico-link2.png) center no-repeat;
	width: 22px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;	
}
.ico-air{
	background: url(/static/kdhc/img/common/ico-air.png) center no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;	
}
[class^=ico-hospitel-list]{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	// vertical-align: top;
	margin-top: -3px;
}
.ico-hospitel-list-1{background: url(/static/kdhc/img/common/ico-hospitel-list-1.png) center no-repeat;}
.ico-hospitel-list-2{background: url(/static/kdhc/img/common/ico-hospitel-list-2.png) center no-repeat;}
.ico-hospitel-list-3{background: url(/static/kdhc/img/common/ico-hospitel-list-3.png) center no-repeat;}
.ico-hospitel-list-20{background: url(/static/kdhc/img/common/ico-hospitel-list-20.png) center no-repeat;} //현재 방문가능
.ico-hospitel-list-21{background: url(/static/kdhc/img/common/ico-hospitel-list-21.png) center no-repeat;} //공휴일 운영
.ico-down{
	width: 18px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	background: url(/static/kdhc/img/common/ico-down.png) center no-repeat;
}
.ico-ars{
	display: inline-block;
	width: 29px;height: 36px;
	background: url(/static/kdhc/img/common/ico-ars.png) 0 3px no-repeat;
}
.ico-callcenter{
	display: inline-block;
	width: 41px;height: 36px;
	background: url(/static/kdhc/img/common/ico-callcenter.png) 0 0 no-repeat;
}