@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
  @return $x1;
}
@import "trig";
@mixin x() {
	&::before,
	&::after{
		content: '';
		width: 30px;
		height: 3px;
		position: absolute;
		left: 50%;
		top: calc(50% - 1.5px);
		background-color: #000000;
		$cosa : 33 * cos(45deg) / 2;
		margin-left: $cosa * -1px;
	}
	&::before{
		transform: rotate(45deg) ;
	}
	&::after{
		transform: rotate(-45deg);
	}
	padding: 0;
}
#header{
	@include breakpoint($sm){
		height: 65px;
		border-bottom: 1px solid $bdcolor;
	}
	.header--top{
		@include breakpoint($sm){
			display: none;
		}
		@include clearfix();
		height: 50px;
		background-color: #353e43;
		.set{
			max-width: 1200px;
			margin: auto;
		}
		button,
		a{
			color: #fff;
			font-size: 0.875rem;
			line-height: 50px;
		}
		.global{
			float: right;
			li{
				float: left;
				a{
					display: block;
					padding: 0 16px;
				}
			}
		}
	}
	.header-visual{
		background: url(/static/kdhc/img/common/visual.jpg) center 0 no-repeat;
		background-size: auto 100%;
		height: 370px;
		animation: visual-bg 3s ease-out 1;
		@keyframes visual-bg{
			0%{ background-size: auto 120%;}
			100%{ background-size: auto 100%;}
		}
		@keyframes visual-text1{
			0%{bottom: -30px; opacity: 0;}
			100%{bottom: 0px;  opacity: 1; }
		}
		@keyframes visual-text2{
			0%{ bottom: -30px; opacity: 0;}
			100%{ bottom: 0px;opacity: 1; }
		}
		@include breakpoint(768px 1023px){
			&::before{
				content: '';
				background-color: rgba(0,0,0,0.5);
				height: 70px;
				position: absolute;
				left: 0;
				width: 100vw;
				max-width: 100%;
				height: 68px;
				@include breakpoint($sm){
					height: 58px;
				}
			}
		}
		@include breakpoint($md){
			height: 270px;
		}
		@include breakpoint($sm){
			height: auto;
			background: none;
		}		
		.spot{
			text-align: center;
			color: #ffffff;
			@include breakpoint($sm){
				display: none;
			}
			.t1{
				display: block;
				padding: 179px 0 20px;
				font-style: normal;
				text-align: center;
				color: #fff;
				font-size: 2.25rem;
				font-weight: 400;
				letter-spacing: normal;
				line-height: 1;
				font-style: normal;
				letter-spacing: -0.112rem;
			}
			.t2{
				display: block;
				font-style: normal;
				text-align: center;
				color: #fff;
				font-size: 1.125rem;
				font-weight: 400;
				letter-spacing: normal;
				line-height: 1;
				letter-spacing: -0.056rem;
			}
		}
	}
}
#gnb{
	>.s{
		max-width: 1200px;
		margin: auto;
	}
	.logo{
		float: left;
		padding: 32px 0 0 0;
		@include breakpoint($sm){
			padding: 20px 0 0 20px;
		}
		a{
			display: block;
			width: 294px;
			height: 36px;
			background: url('/static/kdhc/img/common/logo.png') 0 0 no-repeat;
			position: relative;
		}
		@include breakpoint($md){
			a{
				height: 25px;
				width: 207px;
				background: url(/static/kdhc/img/common/logo-mobile-color.png) 0 0 no-repeat;
			}
		}
	}
	.gnb-set{
		display: none;
	}
	// pc min-width 1024px 스타일 독립 기술함.
	@include breakpoint($lg){
		z-index: 500;
		position: absolute;
		width: 100%;
		display: block;
		.gnb-stiky &{
			position: fixed;
			width: 100%;
			top: 0;
		}
		&::before{
			content: '';
			background-color: rgba(0,0,0,0.5);
			height: 100px;
			position: absolute;
			left: 0;
			width: 100vw;
			max-width: 100%;
			z-index: -1;
			@include breakpoint($sm){
				height: 58px;
			}
		}
		.gnb-set{
			float: right;
			display: block;
			@include breakpoint($lg){
				display: block;
			}
			>ul{
				display: table;
				float: left;
				width: calc(100% - 70px);
			}
		}
		.depth1{
			display: table-cell;
			padding: 0 10px;
			padding-top: 36px;
			>a{
				display: block;
				font-style: normal;
				text-align: center;
				color: #fff;
				font-family: 'Noto Sans CJ Kkr';
				font-size: 1.125rem;
				line-height: 1;
				font-weight: 400;
				letter-spacing: normal;
				line-height: normal;
				font-style: normal;
				letter-spacing: -0.056rem;
				line-height: normal;
				padding: 0 10px;
				height: 28px;
				line-height: 28px;
			}
			&.active>a{
				border-radius: 0.875rem;
				background-color: #a17b4b;
			}
			&.on>a{
				border-radius: 0.875rem;
				background-color: #a17b4b;
			}
			&.active .depth2{display: block;}
			>div{
				display: none !important;
			}
			>div{
				display: none;
			}
		}
		.depth2{
			display: none;
			position: absolute;
			left: 0;
			background-color: #ffffff;
			width: 100%;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
			>.set{
				width: auto;
				max-width: $mw;
				margin: 0 auto;
			}
			.set>ul{
				position: relative;
				float: left;
				width: calc(100% - 430px);
				margin-top: 20px;
				>li{
					// padding-top: 12px;
					width: 33%;
					padding-left: 3.37%;
					position: absolute;
					min-height: 50px;
					>a{
						display: block;
						min-width: 135px;
						position: relative;
						color: #444;
						font-size: 1.125rem;
						font-weight: 700;
						letter-spacing: -0.017rem;
						line-height: 1;
						padding-top: 20px;
						height: 38px;
					}
					&.active>a,
					&.on>a{
						color: #a9247d;
					}
				}
			}
			.nav-info{
				float: right;
				width: 430px;
				background: #f5f5f5;
				padding: 39px 0 0 48px;
			}
			.serve-link-list{
				padding: 4px 0 0 32px;
				a{
					display: block;
					height: 100px;
					margin-top: 30px;
					padding: 5px 0 0 (170+22px);
					font-size: 0.875rem;
					line-height: 1.71;
					span{display: block;}
					.title{
						color: #444;
						font-size: 1.125rem;
						font-weight: 700;
						letter-spacing: -0.017rem;
					}
					.txt{
						margin-top: 6px;
						color: #747474;
						font-size: 0.938rem;
						font-weight: 400;
						letter-spacing: -0.014rem;
					}
				}
			}
			// 진료ㆍ예약
			&#nav200017 {
				.set>ul{
					height: 300px;
				}
				.nav-info{
					height: 363px;
					padding: 38px 45px 0;
					color: #666;
					font-size: 0.938rem;
					font-weight: 400;
					line-height: 1.87;
					letter-spacing: -0.014rem;
					h2{
						height: 19px;
						color: $color-blue;
						font-family: "Nanum Square OTFEB";
						font-size: 20px;
						font-weight: 400;
						line-height: 30px;
						letter-spacing: -0.3px;
						margin-bottom: 18px;
					}
					p{white-space: nowrap;}
					dl{
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: stretch;
						dt i{margin-right: 8px;}
						dd{margin-left: 14px;}
					}
					a{
						height: 50px;
						margin: 12px 0 16px;
						padding-left: 29px;
						display: block;
						color: #fff;
						font-size: 1rem;
						font-weight: 500;
						line-height: 50px;
						letter-spacing: -0.015rem;
						background:#367dcb url(/static/kdhc/img/common/ico-arr.png) right center no-repeat;
					}
					// form{
						// 	margin-top: 10px;
						// 	padding-right: 42px;
						// 	>div+div{margin-top: 15px;}
						// 	>div{
						// 		button,
						// 		input{
						// 			width: 100%;
						// 			border: 0;
						// 			height: 46px;
						// 			line-height: 46px;
						// 		}
						// 		input{
						// 			padding: 19px;
						// 		}
						// 		&.name-set{
						// 			@include clearfix();
						// 			input{
						// 				float: left;
						// 				width: calc(100% - 87px);
						// 			}
						// 			button{
						// 				float: left;
						// 				width: 87px;
						// 				background-color: $color-blue;
						// 				color: #ffffff;
						// 				font-size: 15px;
						// 			}
						// 		}
						// 	}
						// }
					.b{
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						>div{
							height: 112px;
							padding-top: 22px;
							flex-grow: 1;
							text-align: center;;
							&:nth-child(1){
								i{margin: 13px 15px 0 0}
								span{
									color: #333;
									font-size: 1.125rem;
									line-height: 1.44;
								}
							}
							&:nth-child(2) {
								i{margin: 11px 17px 0 0;}
								span{line-height: 1.57;}
							}
							&+div{
								position: relative;
								border-left: 1px solid $bdcolor;
							}
							.s{
								display: inline-block;
								text-align: left;
								vertical-align: top;
							}
							em{
								display: block;
								color: #333333;
								font-family: "Nanum Square OTFEB";
								font-size: 17px;
								font-weight: 400;
								line-height: 1;
								letter-spacing: -0.26px;
							}
							span{
								display: block;
								margin-top: 8px;
								color: #333333;
								font-size: 15px;
								font-weight: 400;
								line-height: 1;
								letter-spacing: -0.23px;
							}
						}
					}
				}
			}
			// 교육ㆍ연구
			&#nav200494{
				height: 300px;
				.set>ul{
				}
				.nav-info{
					height: 300px;
					a:nth-child(1){background: url(/static/kdhc/img/common/gnb_img-0201.jpg) 0 0 no-repeat;}
					a:nth-child(2){background: url(/static/kdhc/img/common/gnb_img-0202.jpg) 0 0 no-repeat;}
				}
			}
			// 병원이용
			&#nav200271 .nav-info{
				// height: 412px;
				height: 375px;
				padding: 41px 0 0 32px;
				h2{
					margin-bottom: 15px;
					color: $color-blue;
					font-size: 1.125rem;
					line-height: 1;
					letter-spacing: -0.028rem;
				}
				ul{
					li{
						font-size: 0.938rem;
						color: #333;
						line-height: 2.2;
						span{
							display: inline-block;
						}
						.tit{
							width: 124px;
							position: relative;
							background: url(/static/kdhc/img/common/ico-tel.png) 5px center no-repeat;
							padding-left: 26px;
							&::before{content: '';
								position: absolute;
								right: 0;
								top: 50%;
								height: 15px;
								border-right: 1px solid $bdcolor;
								transform: translateY(-50%);
							}
						}
						.number{
							margin-left: 10px; 
						}
					}
				}
				.nav-info--map-info{
					margin-top: 40px;
					padding-left: 152px;
					background: url(/static/kdhc/img/common/map-info-bg.png) 0 0 no-repeat;
					height: 100px;
					h2{}
					p{
						color: #333;
						font-size: 0.875rem;
						line-height: 1.71;
						letter-spacing: -0.013rem;
					}
				}
			}
			// 진료연계지원
			&#nav200298{
				.nav-info{
					height: 316px; 
					a:nth-child(1){background: url(/static/kdhc/img/common/gnb_img-0301.jpg) 0 0 no-repeat;}
					a:nth-child(2){background: url(/static/kdhc/img/common/gnb_img-0302.jpg) 0 0 no-repeat;}
				}
			}
			// 공공의료정보
			&#nav200317{
				.nav-info{
					height: 317px;
					a:nth-child(1){background: url(/static/kdhc/img/common/gnb_img-0401.jpg) 0 0 no-repeat;}
					a:nth-child(2){background: url(/static/kdhc/img/common/gnb_img-0402.jpg) 0 0 no-repeat;}
				}
			}
			// 국가중앙센터
			&#nav200353{
				>.set>ul{
					height: 280px;
					width: calc(100%);
					>li{
						height: 280px;
						width: calc(100% / 6 - 1px);
						padding-left: 2.5%;
						@include breakpoint(1200px){
							width: auto;
							padding-left: 3.2%;
							// padding-left: 86px;
							>a{
								min-width: 0;
							}
						}
						&:nth-last-child(2),
						&:last-child{height: auto;}
						> a{
							width: auto;
						}
					}
				}
				.nav-info{
					display: none;
					// a:nth-child(1){background: url(/static/kdhc/img/common/gnb_img-0501.jpg) 0 0 no-repeat;}
				}
			}
			// nav200358 한국지역난방공사
			&#nav200358{
				.nav-info{
					height: 310px;
					a:nth-child(1){background: url(/static/kdhc/img/common/gnb_img-nav200358-1.jpg) 0 0 no-repeat;}
					a:nth-child(2){background: url(/static/kdhc/img/common/gnb_img-nav200358-2.jpg) 0 0 no-repeat;}
				}
			}
			.depth3{
				padding-top: 10px;
				li{}
				a{
					display: block;
					position: relative;
					color: #747474;
					font-weight: 400;
					letter-spacing: -0.23px;
					padding: 4px 0 0 14px;
					font-size: 0.938rem;
					letter-spacing: -0.014rem;
					@include breakpoint(1200px){
						white-space: nowrap;
						height: 30px;
					}
					&::before{
						content: '';
						width: 4px;
						height: 2px;
						position: absolute;
						top: 15px;
						left: 4px;
						background-color: #a6a6a6;
					}
					&:focus,
					&:hover{
						text-decoration: underline;
						color: #a9247d;
					}
				}
				.on a{
					text-decoration: underline;
					color: #a9247d;
				}
			}
		}
	}
	//  1023 이하 스타일 독립 기술함.  = 모바일 ~ 테블릿
	@include breakpoint($md){
		>.set>ul{
			display: none;
		}
	}
	.all-nav-toggle-set{
		float: right;
		// width: 70px;
		padding-top: 26px;
		button{
			width: 35px;
			height: 50px;
			float: left;
			color: #ffffff;
			overflow: hidden;
			font-size: 24px;
		}
		.all-nav-toggle{
			// height: 70px;
			// width: 48px;
			background: center center no-repeat;
			// @include background-image-retina('/static/kdhc/img/main/nav-toggle', 'png',25px,21px);
			@include breakpoint($md){
				// position: absolute;
				// right: 0;
				// top: 0;
				// z-index: 1;
				// height: 58px;
				// width: 60px;
				// padding-left: 12px;
				// padding-right: 24px;	
			}
			@include breakpoint($sm){
				width: 48px;
			}
		}
	}
	.mobile-login{
		display: none;
		@include breakpoint($sm){
			display: block;
			position: absolute;
			z-index: 2;
			top: 0;
			right: 48px;
			width: 48px;
			height: 58px;
			background: url(/static/kdhc/img/common/ico-mypage.png) center center no-repeat;
			background-size: 24px 25px;
		}
	}
}
#all-gnb{
	&.active{
		@include breakpoint($lg){
			display: block;
		}
	}
	.gnb-stiky &{
		position: fixed;
		top: 0;
	}
	max-height: 100vh;
	overflow-y: auto;
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 9999;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid $bdcolor;
	line-height: 1;
	a{
		display: block;
	}
	.ctrl{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		.all-nav-toggle-close{
			position: absolute;
			right: 0;
			top: 8px;
			width: 47px;
			height: 47px;
			background: url(/static/kdhc/img/common/all-nav-toggle-close.png) center center no-repeat;
		}
	}
	>.set{
		max-width: 1200px;
		margin: 0 auto;
		>ul{
			display: flex;
			>li+li{border-left: 1px solid #ededed;}
		}
		.depth1{
			width: 20%;			
			padding-left: 24px;
			padding-top: 20px;
			>a{
				color: #000;
				font-family: 'Nanum Square OTFB';
				font-size: 1.25rem;
				font-weight: 400;
				line-height: 1;
				display: block;
				margin-bottom: 11px;
			}
		}
		.depth2{
			.set>ul{
				>li{
					>a{
						padding: 5px 0;
						padding-bottom: 7px;
						color: #222;
						font-size: 1rem;
						font-weight: 400;
						line-height: (24/16);
					}
				}
			}
		}
		.depth3{
			padding-bottom: 14px;
			>li{
				>a{
					padding: 4px 0;
					color: #747474;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: (26/20);
				}
			}
		}
	}
}
#mobile-gnb{
	&.active{
		@include breakpoint($md){
			display: block;
		}
	}
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	overflow-y: auto;
	z-index: 99999;
	>.set{
		position: absolute;
		right: 0;
		top: 0;
		max-width: 480px;
		width: 100%;
		background-color: #ffffff;
		.deco-logo{
			height: 57px;
			// width: 150px;
			background: url('/static/kdhc/img/common/logo-m.jpg') 22px 11px no-repeat;
			background-size: 128px;
			display: block;
			border-bottom: 1px solid $bdcolor;
		}
		.global-m{
			text-align: center;
			display: table;
			width: 100%;
			table-layout: fixed;
			>*{display: table-cell;vertical-align: middle;}
			li+li{
				&::before{content: '';
					position: absolute;left: 0;top: 50%;width: 1px;margin-top: -8px;
					height: 16px;
					background: url(/static/kdhc/img/common/global-m-dot-line.png) 0 0 repeat-y;
					background-size: 1px;
				}
			}
			li{
				position: relative;
				height: 51px;
				a{
					display: block;
					font-size: 1rem;
				}
			}
		}
	}
	.nav{
		a{display: block;}
		.depth1{
			border-top: 1px solid $bdcolor;
			&.on,
			&.active{
				>a{
					background-color: $color-blue;
					color: #ffffff;
					&::before{background-image: url(/static/kdhc/img/common/m-nav-arr.png)}
				}
				.depth2{
					display: block;
				}
			}
			>a{
				padding: 19px 0 18px 31px;
				color: #000;
				font-family: 'Nanum Square OTFB';
				font-size: 1.375rem;
				font-weight: 400;
				line-height: 1;
				letter-spacing: -0.069rem;
				position: relative;
				&::before{
					content: '';
					background: url(/static/kdhc/img/common/m-nav-arr-down.png) 0 0 no-repeat;
					background-size: 18px;
					position: absolute;
					right: 14px;
					top: 50%;
					margin-top: -6px;
					width: 18px;
					height: 12px;
				}
			}
		}
		.depth2{
			display: none;
			.set>ul{
				>li{
					position: relative;
					left: inherit !important;
					top: inherit !important;
					&.on,
					&.active{
						>a{
							color: $color-pink;
						}
					}
					&+li{border-top: 1px solid $bdcolor;}
					>a{
						padding: 14px 0 14px 31px;
						color: #222;
						font-family: 'Nanum Square OTFR';
						font-size: 1.063rem;
						font-weight: 400;
						line-height: 1;
						letter-spacing: -0.016rem;
					}
				}
			}
		}
		.on>.depth3,
		.active>.depth3{
			padding-bottom: 14px;
			background-color: #efefef;
			padding: 5px 0;
			border-top: 1px solid $bdcolor;
			&::before{
				background-image: url(/static/kdhc/img/common/m-nav-depth2-on.png);
			}
			li{display: block;}
		}
		.depth3{
			&::before{content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 48px;
				height: 44px;
				background: url(/static/kdhc/img/common/m-nav-depth2-off.png) center center no-repeat;
				background-size: 14px;
			}
			>li{
				display: none;
				>a{
					&.on,
					&.active{
						color: $color-pink;
						text-decoration: underline;
					}
					padding: 8px 8px 8px 31px;
					color: #444;
					font-family: 'Nanum Square OTFL';
					font-size: 0.938rem;
					font-weight: 400;
					line-height: 1;
				}
			}
		}
	}
	.mobile-gnb-close{
		position: absolute;
		right: 0;
		top: 0;
		width: 58px;
		height: 58px;
		background-color: transparent;
		@include x();
	}
}
.main-hgroup {
	margin: 30px 0 20px;
	position: relative;
	h1 {
		color: #000;
		font-size: 1.875rem;
		font-weight: 700;
		letter-spacing: -0.047rem;
		line-height: 1;
	}
	p{
		line-height: 1;
		font-weight: 300;
		@include breakpoint($min-md){
			position: absolute;
			right: 0;
			bottom: 0;
		}
		@include breakpoint($sm){
			margin-top: 10px;
		}
	}
}
.depth4-tab {
	@include breakpoint($sm){
		/* display: none; */
	}
	margin-bottom: 25px;
	nav {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}
	ul {
		display: table-row;
	}
	li {
		display: table-cell;
		border: 1px solid $bdcolor;
		@include breakpoint($sm){
			display: block;
			float: left;
			vertical-align: middle;
			width: 50%;
			margin-left: -1px;
			margin-bottom: -1px;
		}
	}
	a {
		display: block;
		padding: 17px 0;
		text-align: center;
		color: #555555;
		font-size: 20px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: -0.3px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.3px;
		@include breakpoint($lg){
			font-size: 20px;
			font-family: 'Nanum Square OTFR';
		}
	}
	li.on {
		border-color: #5a94c7;
		position: relative;
		background-color: #5a94c7;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: -1px;
			height: 100%;
			border-left: 1px solid #5a94c7;
		}
		a {
			@include breakpoint($lg){
				font-family: 'Nanum Square OTFEB';
			}
			color: #ffffff;
			&::before{content: '';
				position: absolute;
				left: 50%;
				margin-left: -4px;
				bottom: -1px;
				width:0;
				height:0;
				width:0;
				height:0;
				border-left:4px solid transparent;
				border-right:4px solid transparent;
				border-bottom:7px solid #fff;			
			}
		} 
	}
	&.type2{
		nav ul{
			@include breakpoint($mdf){
				display: flex;
				flex-direction: row;
				justify-content: center;
				// align-items: center;
				flex-wrap: wrap;
				// -webkit-flex-wrap: wrap;
				// -ms-flex-wrap: wrap;
				border-top: 1px solid $bdcolor;
				border-right: 1px solid $bdcolor;
				li{
					flex: auto;
					width: 25%;
					border-width: 0 0 1px 1px;
					a{
						display: flex;
						height: 100%;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
		nav ul li{
			a{
				font-size: 18px;
				padding: 26px 0;
				line-height: 1.3;
				i{
					@include breakpoint($lg){
						display: block;
						height: 100px - 27;
						background-position: center 4px;
						background-repeat: no-repeat;
					}
					display: none;
				}
				@include breakpoint($sm){
					font-size: 16px;
					padding: 17px 0 15px;
					span{
						height: 38px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
					}
				}			
			}
			&.on{
				i{
					&.icon-code-200452 {background-image: url(/static/kdhc/img/common/icon-code-200452-on.png)}
					&.icon-code-200453 {background-image: url(/static/kdhc/img/common/icon-code-200453-on.png)}
					&.icon-code-200454 {background-image: url(/static/kdhc/img/common/icon-code-200454-on.png)}
					&.icon-code-200455 {background-image: url(/static/kdhc/img/common/icon-code-200455-on.png)}
					&.icon-code-200456 {background-image: url(/static/kdhc/img/common/icon-code-200456-on.png)}
					&.icon-code-200457 {background-image: url(/static/kdhc/img/common/icon-code-200457-on.png)}
					&.icon-code-200458 {background-image: url(/static/kdhc/img/common/icon-code-200458-on.png)}
					&.icon-code-200459 {background-image: url(/static/kdhc/img/common/icon-code-200459-on.png)}
				}
			}
		} 
	}
}
.depth5-tab{
	@include breakpoint($sm){
		display: none;
	}
	border-bottom: 1px solid #c86ba9;
	margin-bottom: 40px;
	nav {
	}
	ul {
		@include clearfix();
	}
	li {
		float: left;
		border: 1px solid $bdcolor;
		min-width: 186px;
		position: relative;
		margin-bottom: -1px;
		margin-left: -1px;
		z-index: 1;
		border-bottom-color: $color-pink;
	}
	a {
		display: block;
		padding: 15px 0;
		text-align: center;
		background-color: #fafafa;
		color: #444444;
		font-family: "Nanum Square OTFR";
		font-size: 18px;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: -0.27px;
	}
	li.on {
		border-color: $color-pink;
		border-bottom-color: #ffffff;
		z-index: 2;
		a {
			background-color: #fff;
			color: $color-pink;
		}
	}
}
#content {
	max-width: $mw;
	margin: 0 auto;
}
// 콘텐츠 관리자, 한줄의견
.adm{
	position: relative;
	max-width: $mw;
	margin: 0 auto;
	padding-top: 50px;
	img{vertical-align: top;}
	.content-manager{
		border: 1px solid #e4e4e4;
		color: #666666;
		font-family: "Nanum Square OTFR";
		font-size: 15px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: -0.23px;
		padding: 24px 34px;
		@include breakpoint($sm){
			padding: 20px 27px;
		}
		span{
			display: inline-block;
			@include breakpoint($sm){
				display: block;
			}
			&+span{
				margin-left: 90px;
				@include breakpoint($sm){
					margin: 15px 0 0 0;
				}
			}
		}
	}
}
.adm-satisfaction{
	position: relative;
	background-color: #f5f5f5;
	padding: 36px 28px 37px 38px;
	@include breakpoint($sm){
		padding: 28px;
	}
	h2{
		color: #333;
		font-family: 'Nanum Square OTFB';
		font-size: 1.063rem;
		font-weight: 400;
		line-height: 1;
		letter-spacing: -0.016rem;
		display: inline-block;
		@include breakpoint($md){
			display: block;
		}
	}
	.label-set{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		background: url() 5px 0 repeat-x;
		@include background-image-retina('/static/kdhc/img/common/adm-star-off', 'png',30px,22px);
		@include breakpoint($md){
			// display: block;
			margin: 0;
		}
		&::before{
			content: '';
			position: absolute;
			left: 0;
			z-index: 1;
			width: 100%;
			background: url(/static/kdhc/img/common/adm-star-on.png) 5px 0 repeat-x;
			@include background-image-retina('/static/kdhc/img/common/adm-star-on', 'png',30px,22px);
			height: 22px;
			width: 0;
		}
		&.s1::before{width: 20% * 1;}
		&.s2::before{width: 20% * 2;}
		&.s3::before{width: 20% * 3;}
		&.s4::before{width: 20% * 4;}
		&.s5::before{width: 20% * 5;}
		label{
			position: relative;
			z-index: 3;
			float: left;
			width: 30px;
			height: 22px;
			overflow: hidden;
			input{
				opacity: 0;
				width: 30px;
				height: 22px;
			}
			input:focus+span{border: 1px dotted #000;}
			span{
				position: absolute;
				left: 0;
				top: 0;
				width: 30px;
				height: 22px;
				color: transparent;
			}
		}
	}
	.inp-group{
		margin-top: 34px;
		@include breakpoint($md){
			margin-top: 15px;
		}
		@include clearfix();
		textarea,
		input{
			height: 39px;
			width: calc(100% - 63px);
			float: left;
			color: #747474;
			font-size: 0.813rem;
			font-weight: 400;
			line-height: 1.62;
			letter-spacing: -0.021rem;
			border: 0;
		}
		textarea{
			padding: 9px 20px;
			@include breakpoint($sm){
				height: 115px;
				width: 100%;
			}
		}
		button{
			float: right;
			width: 63px;
			height: 39px;
			color: #ffffff;
			background-color: #555555;
			@include breakpoint($sm){
				float: none;
				width: 100%;
				height: 41px;
			}
		}
	}
}
.adm-service{
	.snsWrap{
		@include clearfix();
		@include breakpoint($md){
			margin-top: 19px;
		}
		@include breakpoint($lg){
			position: absolute;
			right: 26px;
			top: 26px;
		}
		button,
		a{
			float: left;
			vertical-align: top;
			width: 38px;
			height: 38px;
			border-radius: 3px;
			box-shadow: 0.063rem 0.125rem 0.25rem rgba(0, 0, 0, 0.13);
			background-color: #fff;
			@include breakpoint($md){
				margin-right: 6px;
				margin-bottom: 6px;
			}
			@include breakpoint($lg){
				margin-left: 6px;
			}
		}
		.adm-service-fav	{background:#ffffff url(/static/kdhc/img/common/adm-vote.png) center 6px no-repeat;font-size: 13px;padding-top: 9px;
							 @include background-image-retina('/static/kdhc/img/common/adm-vote', 'png',11px);
							}
		.sns-facebook		{background:#ffffff url(/static/kdhc/img/common/adm-facebook.png) center center no-repeat;
							 @include background-image-retina('/static/kdhc/img/common/adm-facebook', 'png',10px,18px);
							}
		.sns-tweeter		{background:#ffffff url(/static/kdhc/img/common/adm-tweeter.png) center center no-repeat;
							 @include background-image-retina('/static/kdhc/img/common/adm-tweeter', 'png',21px,17px);
							}
		.sns-blog			{background:#ffffff url(/static/kdhc/img/common/adm-blog.png) center center no-repeat;
							 @include background-image-retina('/static/kdhc/img/common/adm-blog', 'png',15px,21px);
							}
		.sns-kakaotalk		{background:#ffffff url(/static/kdhc/img/common/adm-kakaotalk.png) center center no-repeat;
							 @include background-image-retina('/static/kdhc/img/common/adm-kakaotalk', 'png',24px,22px);
							}
		.sns-kakaostory		{background:#ffffff url(/static/kdhc/img/common/adm-kakaostory.png) center center no-repeat;
							 @include background-image-retina('/static/kdhc/img/common/adm-kakaostory', 'png',11px,19px);
							}
		.sns-band			{background:#669fde url(/static/kdhc/img/common/adm-fav.png) center center no-repeat;
							 @include background-image-retina('/static/kdhc/img/common/adm-fav', 'png',22px,20px);
							}
		.url-copy			{background:#669fde url(/static/kdhc/img/common/adm-copyurl.png) center center no-repeat;
							 @include background-image-retina('/static/kdhc/img/common/adm-copyurl', 'png',18px,18px);
							}
	}
}
.wrap-top{
	.main &{display: none;}
	a{
		&.fix{
			position: absolute;
		}
		position: fixed;
		width: 55px;
		height: 51px;
		right: 20px;
		bottom: 20px;
		border-radius: 9px;
		background: url(/static/kdhc/img/common/top.png) center center no-repeat;
		background-color: #bfbfbf;
		@include breakpoint($sm){
			background-image: url(/static/kdhc/img/common/top@2x.png);
			background-size: 26px;
		}
	}
}
#container{
	padding-bottom: 98px;
	background: url(/static/kdhc/img/common/footer-bg.png) center bottom repeat-x;
	@include breakpoint($md){
		padding-left: 30px;
		padding-right: 30px;
	}
	@include breakpoint($sm){
		padding-left: 20px;
		padding-right: 20px;
	}
	.container-set{
		@include clearfix();
		max-width: 1240px;
		margin: 0 auto;
		@include breakpoint($lg){
			padding: 0 20px;
		}
	}
	main{
		@include breakpoint($lg){
			width: calc(100% - 64px - 242px);
			float: right;
		}
	}	
}