/*paging*/
$pagingActiveBg : $color-blue;
$pagingActiveBg : #333;
$pagingActiveColor : #fff;
$pagingbdcolor : #ddd;
$pagingbgcolor : #fff;
$lmargin : 0;
$width:34px;
$height:34px;
$width-sm:23px;
$height-sm:28px;


.pagination-set{
	text-align: center;
}
.pagination-set,
.paginationSet{
	text-align:center;
	// padding:20px 0;
	margin-top: 20px;
	@include breakpoint($lg){
		margin-top: 50px;
	}
}
.paging{text-align: center;margin-top:30px;}
.pagination{
	display:inline-block;
	vertical-align:top;
	padding-left:0;
	text-align:center;
	em{font-style: normal}
	>li{display:inline;}
	>li>a,
	>li>span{
		position:relative;
		float:left;
		padding:0;
		text-decoration:none;
		min-width:$width;
		height:$height;
		line-height:$height;
		// line-height:32px;
		background-color:$pagingbgcolor;
		border: 1px solid $bdcolor;
		margin:0 $lmargin;
		color:#666;
		margin-left: -1px;
		@include breakpoint($sm){
			min-width:$width-sm;
			height:$height-sm;
			line-height:$height-sm - 2px;
		}
	}
	>li{
		&.first>*,
		&.prev>*,
		&.next>*,
		&.end>*{
			@include breakpoint($lg){
			}
			min-width:$width;
			padding-left:5px;
			padding-right:5px;
			background: url(/static/kdhc/img/common/paging.png) 0 0 no-repeat;
			@include breakpoint($sm){
				min-width:$width-sm;
				height:$height-sm;
				line-height:$height-sm - 2px;
				background: url(/static/kdhc/img/common/paging-m@2x.png) -1px 0 no-repeat;
				background-size: auto 28px;
			}
			&:before {content: '';display:inline-block;}
		}
		.s span{position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0}
	}
	>li.first>*{
		&:before {}
	}
	>li.prev>* 	{
		background-position:-$height 0;
		margin-right:21px;
		@include breakpoint($sm){
			background-position: -24px 0;
			margin-right: 5px;
		}
		&:before {}
	}
	>li.next>* 	{
		background-position:-437px 0;
		margin-left:21px;
		@include breakpoint($sm){
			background-position: -276px 0;
			margin-left: 5px;
		}
		&:before {}
	}
	>li.end>* 	{
		background-position:right 0;
		&:before {}
	}
	>li:first-child>a,>li:first-child>span {margin-left: 0;}
	>li:last-child>a,>li:last-child>span {}
	>li>a:hover,
	>li>span:hover,
	>li>a:focus,
	>li>span:focus {
		z-index: 2;
		text-decoration:underline;
	}

	// active
	>.active>a,
	>.active>span,
	>.active>a:hover,
	>.active>span:hover,
	>.active>a:focus,
	>.active>span:focus {
		z-index: 3;
		cursor: default;
		border:none;
		background-color: $color-blue;
		color: #ffffff;
	}
	// disabled
	>.disabled>span,
	>.disabled>span:hover,
	>.disabled>span:focus,
	>.disabled>a,
	>.disabled>a:hover,
	>.disabled>a:focus {cursor: not-allowed;opacity:0.7;display:none;}
}

@include breakpoint(max-width 767px){
	.paginationSet > ul > li.i > a{
		// width:$width/2;
		// border:none;
	}
	// .pagination > li.next > *{background-position:-580px 0;}
}
@include breakpoint(max-width 480px){
	.paginationSet{
		// margin-left:-15px;margin-right:-15px;
	}
	.paginationSet > ul > li.i > a{}
	// .pagination > li > a, .pagination > li > span{padding:0 3px;}
	.pagination > li.prev > *{margin-right:0;}
	.pagination > li.next > *{margin-left:0;}
}